 <!-- This defines the structure of the search results we'll see at http://localhost:3000/  -->

<!DOCTYPE html>
<link rel="stylesheet" href="../CSS/styles.pure.css" />
<html>

  <!-- NAVBAR STARTS -->

  <div class="nav-wrapper">
    <div>
        <div class="nav">
          <!-- <form action="/" class="search_form" spellcheck="false" method="get"> 
            <button type="submit">
                <img src="./views/engine.jpg" ></img>
              </button> 
            </form> -->
            <ul class="nav-menu" id="nav-menu">
                <li><a href="https://weaviate.io/" target=”_blank”>Weaviate Website</a></li>
                <li><a href="https://github.com/semi-technologies/weaviate" target=”_blank”>Github</a></li>
                <li><a href="https://weaviate.slack.com/ssb/redirect" target=”_blank”>Slack</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- NAVBAR ENDS -->

<!-- Search Space Starts -->

<center>
<div class="logo">
  <!-- <img alt="Weaviate"  class="search" src="./views/img.jpeg"> -->
</div>
<form action="/search/" id="filter_search_form" class="search_form" spellcheck="false" method="get"> 

<div class="bar">
  <input class="searchbar" type="text" name="searched_data" title="Search" autocomplete="off">
</div>
<div class="buttons" style="display: flex;">
  <!-- <button class="button btn2" name="filter_search">Filter Search</button> -->
  <!-- <button class="button btn2" name="semantic_search">Semantic Search</button> -->
</form>

 
</center>

<!-- Search Space Starts -->

<!-- The following two lines are left in because they can be useful in debugging. -->
<!-- <%='hey'%> -->
<!-- <%=book_info%> -->

<% if(book_info && book_info.length!=null){%>
<div class="section-header">
    Top Results For Your Search
</div>

</div>
<%}%>
</div>
<section class="popular-tours">
  <div class="cards-wrapper">
      <!-- BOOK ITEM -->
      <% for (let i = 0;i<book_info.length; i++) { %> 
      <div class="card">

              <div class="book-item-content" style = "text-transform:capitalize;">
                <div class="book-item-title">
                  <div class="book-info">
                      <i class="bx bxs-star"></i>
                      <span><%=book_info[i].book_title%></span>
                  </div>
                <div class="book-item-author">
                    <div class="book-info">
                        <i class="bx bxs-star"></i>
                        <span><%=book_info[i].book_author%></span>
                    </div>
                <div class="book-item-year-of-publication">
                  <div class="book-info">
                      <i class="bx bxs-star"></i>
                      <span><%=book_info[i].year_of_publication%></span>
                  </div>
                <div class="book-item-publisher">
                    <div class="book-info">
                      <i class="bx bxs-star"></i>
                        <span><%=book_info[i].publisher%></span>
                    </div>
                  </div>
              </div>
              </form>
          </div>
          <br/>
      </div>
      <% } %> 
</div>
</section>

<script src="../js/jquery-3.4.1.min.js"></script>
    </body>
</html>